<!--

	TheThings.io Node-RED Node
	Copyright (C) 2016 by Xose Pérez <xose dot perez at gmail dot com>
	This project is licensed under the terms of the MIT license.

-->

<script type="text/x-red" data-template-name="thethingsio">

	<div class="form-row">
		<label for="node-input-token"><i class="icon-lock"></i>Thing Token</label>
		<input type="text" id="node-input-token" placeholder="Thing Token">
	</div>

	<br />

	<div class="form-row">
		<label for="node-input-key"><i class="icon-tasks"></i>Key</label>
		<input type="text" id="node-input-key" placeholder="Key">
	</div>

	<br/>

	<div class="form-row">
		<label for="node-input-name"><i class="icon-tag"></i>Name</label>
		<input type="text" id="node-input-name" placeholder="Name">
	</div>

	<div>
		<span style="width: 200px; float: left; margin-left: 5px;">
			<input type="checkbox" id="node-input-secure" placeholder="Secure"> Use secure connection
		</span>
	</div>


</script>

<script type="text/x-red" data-help-name="thethingsio">

	<p>Connect products to the TheThings.io IoT platform.</p>

	<p>This node sends the payload of the message (<code>msg.payload</code>) to your thethings.io account. A thethings.io account is necessary: http://thethings.io</p>

	<ul>
		<li><strong>Token</strong>: Token which is used to authenticate to a thing.</li>
		<li><strong>Secure</strong>: Whether it should use a secure connection (HTTPS) or not.</li>
		<li><strong>Key</strong>: Name of the variable to send the data to.</li>
		<li><strong>Name</strong>: Name of the node.</li>
	</ul>

	<p>You can override the token and key properties with the <code>msg.token</code> and <code>msg.key</code> message attributes. Likewise you can set a custom <code>msg.timestamp</code> to be used (format must be YYYYMMDDhhmmss).</p>

</script>

<script type="text/javascript">

	RED.nodes.registerType('thethingsio',{

		category: 'storage-output',
		color: "#0E9AEF",
		defaults: {
			name: {value: ""},
			token: {value: ""},
			key: {value: ""},
			secure: {value: false}
		},
		inputs: 1,
		outputs: 0,
		icon: "thethingsio.png",
		label: function() {
			return this.name || this.to || "thethingsio";
		},
		labelStyle: function() {
			return this.name ? "node_label_italic" : "";
		}

	});

</script>
